<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">
        <title>Конвертер youtube - mp3</title>
        <meta name="keywords" content="конвертер, видео, youtube, mp3">
        <meta name="description" content="Конвертировать видео с youtube в аудио в формате mp3">

    </head>

    <body>

    <h1>Онлайн-конвертер видео с youtube в mp3</h1>

    <form action="" method="get">
        <label>Вставьте ссылку на видео:
            <input type="text" name="youtube-link" value="https://www.youtube.com/watch?v=ffTF9ZOjAxU&t=318s"></label>
        <input type="submit" value="Конвертриовать">

    </form>

    </body>

</html>