<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Russo+One&amp;subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">


        <meta charset="utf-8">
        <title>Конвертер youtube - mp3</title>
        <meta name="keywords" content="конвертер, видео, youtube, mp3">
        <meta name="description" content="Конвертировать видео с youtube в аудио в формате mp3">

    </head>

    <body>

    <h1>Онлайн-конвертер видео с youtube в mp3</h1> <br> <br> <br>

    <div style="padding-left: 400px; padding-right: 500px;"><form action="" method="POST">
        {% csrf_token %}  {{ form }}

        <label class="put-the-link-pls">Вставьте ссылку на видео:</label>
        <input type="submit" value="Конвертировать">

    </form></div>

    <div>История запросов:
        {% for link in links %}
            <a href="{{ link }}">{{ link }}</a>
        {% endfor %}
    </div>



    </body>

</html>