body {
    background-color: darkorange;
    padding: 10em;
    font-family: 'Russo One', sans-serif;
}

h1 {
    text-align: center;
    display: block;
}

form {
    text-align: center;
    display: block;
}

.put-the-link-pls {
    position: relative;
    left: 10px;
}